#login-page {
  width: 500px;
  margin-top: 12px;
  margin-bottom: 11px;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row p {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.row h3 {
  text-align: center;
  font-weight: bold;
}

.col {
  margin-top: 6.8%;
}

.btn {
  background-color: #9bd9c6;
  color: black;
}

.btn:hover {
  background-color: #66b9a0;
  color: white;
}

.security i {
  font-size: 9rem;
}

button {
  background-color: #66b9a0;
  font-weight: bold;
}
.correo {
  padding-left: 10%;
  padding-right: 10%;
}

.correo label {
  padding-left: 10%;
}

.button {
  max-height: 100px;
}

.button button {
  margin-top: 0px;
  padding: 0%;
}

.correo-row {
  margin: 0px;
  padding: 0px;
}
