#login-page {
  width: 500px;
  margin-top: 12px;
  margin-bottom: 11px;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row p {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.row h3 {
  text-align: center;
  font-weight: bold;
}

.col {
  margin-top: 6.8%;
}

.btn {
  background-color: #409E81;
  color: whitesmoke;
}

.btn:hover {
  background-color: #66B9A0;
  color: whitesmoke;
}

.security i {
  font-size: 9rem;
}

button {
  background-color: #409E81;
  font-weight: bold;
}
.correo {
  padding-left: 10%;
  padding-right: 10%;
}

.correo label {
  padding-left: 10%;
}

.button {
  max-height: 100px;
}

.button button {
  margin-top: 0px;
  padding: 0%;
}

.correo-row {
  margin: 0px;
  padding: 0px;
}


.dot {
  animation: dotFlashing 1s infinite linear;
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dotFlashing {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}