.Enviar {

    text-align: center;
    padding-bottom: 30px;
}
.formulario {

    padding-left: 20%;
    padding-right: 20%;
}
h3 {
    text-align: center;
    font-weight: bold;
}
.btn {
    background-color: #409E81;
    font-weight: bold;
}

.browser-default {
    margin-top: 10px;
    border-color: #BABABA;
}
.browser-default:focus {
    border: 1px solid #409E81;
}
