#register-page {
  max-width: 500px;
  max-height: 1000px;
  margin-bottom: 40px;
}

.titulo-registro {
  text-align: center;
  font-weight: bold;
}

.container-register {
  margin-top: 11px;
  border: 1px solid #ccc;
  padding: 2%;
}

.router-text {
  color: #66b9a0;
}

.container-register button {
  background-color: #66b9a0;
  font-weight: bold;
}

.container-register select {
  color: #bababa;
  border-color: #c6c6c6;
}

.container-register select:focus {
  color: #bababa;
  border-color: #26a69a;
}

.show-errors {
  color: #66b9a0;
}

.row {
  margin-bottom: 0px;
}

.button {
  padding: 6%;
}
