<div id="register-page" class="row">
  <div class="container-register">
    <form [formGroup]="fGroup" class="register-form">
      <div class="row">
        <h3 class="titulo-registro">Registro</h3>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="primerNombre" id="primerNombre" type="text" class="validate" />
          <label for="primerNombre">Primer nombre</label>
        </div>
        <div class="input-field col s6">
          <input formControlName="segundoNombre" id="segundoNombre" type="text" class="validate" />
          <label for="segundoNombre">Segundo nombre</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input formControlName="primerApellido" id="primerApellido" type="text" class="validate" />
          <label for="primerApellido">Primer apellido</label>
        </div>
        <div class="input-field col s6">
          <input formControlName="segundoApellido" id="segundoApellido" type="text" class="validate" />
          <label for="segundoApellido">Segundo apellido</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="correo" id="email" type="email" class="validate" />
          <label for="email">Correo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input formControlName="telefono" id="telefono" type="text" class="validate" />
          <label for="telefono">Teléfono</label>
        </div>

        <div class="input-field col s8">
          <select formControlName="lugarResidencia" id="place_residence" class="browser-default">
            <option value="" disabled selected>Selecciona tu ciudad</option>
            <option value="Arauca">Arauca</option>
            <option value="Armenia">Armenia</option>
            <option value="Barranquilla">Barranquilla</option>
            <option value="Bogotá">Bogotá</option>
            <option value="Bucaramanga">Bucaramanga</option>
            <option value="Cali">Cali</option>
            <option value="Cartagena">Cartagena</option>
            <option value="Cúcuta">Cúcuta</option>
            <option value="Florencia">Florencia</option>
            <option value="Ibagué">Ibagué</option>
            <option value="Leticia">Leticia</option>
            <option value="Manizales">Manizales</option>
            <option value="Medellín">Medellín</option>
            <option value="Mitú">Mitú</option>
            <option value="Mocoa">Mocoa</option>
            <option value="Montería">Montería</option>
            <option value="Neiva">Neiva</option>
            <option value="Pasto">Pasto</option>
            <option value="Pereira">Pereira</option>
            <option value="Popayán">Popayán</option>
            <option value="Puerto Carreño">Puerto Carreño</option>
            <option value="Puerto Inírida">Puerto Inírida</option>
            <option value="Quibdó">Quibdó</option>
            <option value="Riohacha">Riohacha</option>
            <option value="San Andrés">San Andrés</option>
            <option value="San José del Guaviare">San José del Guaviare</option>
            <option value="Santa Marta">Santa Marta</option>
            <option value="Sincelejo">Sincelejo</option>
            <option value="Tunja">Tunja</option>
            <option value="Valledupar">Valledupar</option>
            <option value="Villavicencio">Villavicencio</option>
            <option value="Yopal">Yopal</option>
            <option value="Aguachica">Aguachica</option>
            <option value="Apartadó">Apartadó</option>
            <option value="Arjona">Arjona</option>
            <option value="Barrancabermeja">Barrancabermeja</option>
            <option value="Bello">Bello</option>
            <option value="Buenaventura">Buenaventura</option>
            <option value="Buga">Buga</option>
            <option value="Cajicá">Cajicá</option>
            <option value="Caldas">Caldas</option>
            <option value="Candelaria">Candelaria</option>
            <option value="Cartago">Cartago</option>
            <option value="Chía">Chía</option>
            <option value="Chigorodó">Chigorodó</option>
            <option value="Ciénaga">Ciénaga</option>
            <option value="Copacabana">Copacabana</option>
            <option value="Cota">Cota</option>
            <option value="Cumaribo">Cumaribo</option>
            <option value="Dosquebradas">Dosquebradas</option>
            <option value="Duitama">Duitama</option>
            <option value="Envigado">Envigado</option>
            <option value="Facatativá">Facatativá</option>
            <option value="Fusagasugá">Fusagasugá</option>
            <option value="Girardot">Girardot</option>
            <option value="Girón">Girón</option>
            <option value="Ipiales">Ipiales</option>
            <option value="Itagüí">Itagüí</option>
            <option value="Jamundí">Jamundí</option>
            <option value="Lorica">Lorica</option>
            <option value="Magangué">Magangué</option>
            <option value="Maicao">Maicao</option>
            <option value="Malambo">Malambo</option>
            <option value="Melgar">Melgar</option>
            <option value="Ocaña">Ocaña</option>
            <option value="Pitalito">Pitalito</option>
            <option value="Planeta Rica">Planeta Rica</option>
            <option value="Riohacha">Riohacha</option>
            <option value="Rionegro">Rionegro</option>
            <option value="Sabanalarga">Sabanalarga</option>
            <option value="Sabaneta">Sabaneta</option>
            <option value="San Marcos">San Marcos</option>
            <option value="Santa Rosa de Cabal">Santa Rosa de Cabal</option>
            <option value="Since">Since</option>
            <option value="Soacha">Soacha</option>
            <option value="Sogamoso">Sogamoso</option>
            <option value="Soledad">Soledad</option>
            <option value="Tibú">Tibú</option>
            <option value="Tuluá">Tuluá</option>
            <option value="Turbo">Turbo</option>
            <option value="Uribia">Uribia</option>
            <option value="Villa de San Diego de Ubaté">Villa de San Diego de Ubaté</option>
            <option value="Villamaría">Villamaría</option>
            <option value="Yarumal">Yarumal</option>
            <option value="Yopal">Yopal</option>
            <option value="Zipaquirá">Zipaquirá</option>

          </select>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <select formControlName="modoRecuperacionCuenta" id="account_recover" class="browser-default">
            <option value="" disabled selected>Selecciona el modo de recuperación</option>
            <option value="Correo">Correo</option>
            <option value="Teléfono">Teléfono</option>
          </select>
        </div>
      </div>

      <div class="recaptcha">
        <ngx-recaptcha2 class="captcha" #captchaElem [siteKey]="siteKey" [useGlobalDomain]="false"
          formControlName="recaptcha">
        </ngx-recaptcha2>
      </div>

      <div class="row">
        <div class="col s12 center-align">
          <button class="btn waves-effect waves-light" [disabled]="!fGroup.valid || isLoading" type="button" (click)="Registrarse()">
            <span *ngIf="!isLoading">
            Siguiente
            <i class="material-icons right">forward</i>
            </span>
            <span *ngIf="isLoading">
              Cargando<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>
            </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>