<div class="row">
    <form  [formGroup]="fGroup" class="col s12">
      <div class="row">
        <div class="input-field col s3">
          <input formControlName="primerNombre" id="primerNombre" type="text" class="validate" />
          <label for="primerNombre">Primer nombre</label>
        </div>
        <div class="input-field col s3">
          <input formControlName="segundoNombre" id="segundoNombre" type="text" class="validate" />
          <label for="segundoNombre">Segundo nombre</label>
        </div>
        <div class="input-field col s3">
          <input formControlName="primerApellido" id="primerApellido" type="text" class="validate" />
          <label for="primerApellido">Primer apellido</label>
        </div>
        <div class="input-field col s3">
          <input formControlName="segundoApellido" id="segundoApellido" type="text" class="validate" />
          <label for="segundoApellido">Segundo apellido</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input formControlName="correo" id="email" type="email" class="validate" />
          <label for="email">Correo</label>
        </div>
        <div class="input-field col s2">
          <input formControlName="telefono" id="telefono" type="text" class="validate" />
          <label for="telefono">Teléfono</label>
        </div>
        <div class="input-field col s3">
            <input formControlName="lugarResidencia" id="place_residence" type="text" class="validate" />
            <label for="place_residence">Ciudad de residencia</label>
          </div>
        <div class="input-field col s3">
            <input formControlName="modoRecuperacionCuenta" id="account_recover" type="text" class="validate" />
            <label for="account_recover">Modo de recuperación</label>
        </div>

      </div>
      <div class="row">
        <div class="col s12">
          <button
            class="btn waves-effect waves-light"
            type="button"
            (click)="Registrarse()"
            
          >
            Registrarse
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>