.body{
    min-height: 84vh;
    max-height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-no-encontrado {
    color: #409E81;
    font-weight: bold;
}

.error-icon{
    font-size: 12rem;
}