<br />
<a routerLink="/parametros/producto-agregar" class="btn">Agregar Plan</a>
<br>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Cantidad de Beneficiarios</th>
            <th>Precio</th>
            <th>Foto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of listarPlanes | paginate: { itemsPerPage: registrosPorPagina, currentPage: pag, totalItems: total }">
            <td>{{r.nombre}} </td>
            <td>{{r.detalles}}</td>
            <td>{{r.cantidadBeneficiarios}}</td>
            <td>{{r.precio}}</td>
            <td><img src="{{r.foto}}" class="imagenListadoRegistros" /></td>
            <td>
                <a routerLink="/parametros/producto-editar/{{r.id}}" class="btn orange">Editar Plan</a>&nbsp;
                <a routerLink="/parametros/producto-eliminar/{{r.id}}" class="btn red">Eliminar Plan</a>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <pagination-controls 
                      (pageChange)="pag = $event; ListarRegistros()"
                      previousLabel="Anterior"
                      nextLabel="Siguiente"
                      screenReaderPaginationLabel="Navegación"
                      screenReaderPageLabel="Página"
                      screenReaderCurrentLabel="Página actual">
                </pagination-controls>
            </td>
        </tr>
        
    </tbody>
</table>
