#login-page {
  width: 500px;
  margin-top: 4.6%;
  margin-bottom: 4.6%;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.alerta {
  color: #409E81;
}

.row p {
  text-align: center;
}

.row h3 {
  text-align: center;
  font-weight: bold;
}

.btn {
  background-color: #9bd9c6;
  color: black;
}

.btn:hover {
  background-color: #409E81;
  color: white;
}
.correo {
  padding-left: 10%;
  padding-right: 10%;
}

.correo label {
  padding-left: 10%;
}

button {
  font-weight: bold;
}

.recover-icon i {
  font-size: 7rem;
}
