#login-page {
    width: 500px;
 }
 
 .card {
      position: absolute;
      left: 50%;
      top: 50%;
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
 }

 .alerta {
     color: #66B9A0;
 }

.row p {
     text-align: center;
}

 .row h3 {
     text-align: center;
     font-weight: bold;
 }

 .col {
     margin-top: 40px;
     margin-bottom: 38px;
 }

 .btn {
     background-color: #9BD9C6;
     color: black;
 }

 .btn:hover {
     background-color: #66B9A0;
     color: white;
 }

 #login-page .row{
    justify-content: center;
    align-items: center;
 }