<div id="payment-page" class="row">
    <div class="container-payment">
        <form [formGroup]="fGroup" class="payment-form">
            <div class="row">
                <h3 class="titulo-pago">Pago</h3>
            </div>
            <div class="row">
                <div class="input-field col s11">
                    <input formControlName="numeroTarjeta" id="numeroTarjeta" type="text" class="validate" pattern="\d*"
                        minlength="15" maxlength="19"/>
                    <label for="numeroTarjeta">Número de tarjeta</label>
                </div>
                <i class="field-icon material-icons">payment</i>
            </div>
            <div class="row">
                <div class="input-field col s11">
                    <input formControlName="nombreTitular" id="nombreTitular" type="text" class="validate" />
                    <label for="nombreTitular">Nombre del titular</label>
                </div>
                <i class="field-icon material-icons">person</i>
            </div>
            <div class="row">
                <div class="expire-date input-field col s4">Fecha de expiración</div>
                <div class="input-field col s4">
                    <input formControlName="mes" id="mes" type="number" min="1" max="12" class="validate" />
                    <label for="mes">Mes</label>
                </div>
                <div class="input-field col s4">
                    <input formControlName="ano" id="ano" type="number" min="2023" max="2099" class="validate" />
                    <label for="ano">Año</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    <input formControlName="cvc" id="cvc" type="text" minlength="3" maxlength="3" class="validate" />
                    <label for="cvc">CVC</label>
                </div>

                <div class="input-field col s3">
                    <input formControlName="documento" id="documento" type="text" maxlength="10" class="validate" pattern="\d*" />
                    <label for="documento">Documento</label>
                </div>

                <div class="input-field col s7">
                    <input formControlName="direccion" id="direccion" type="text" class="validate" />
                    <label for="direccion">Dirección</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <select formControlName="plan" id="plan_electo" class="browser-default">
                        <option value="" disabled selected>Selecciona tu plan</option>
                        <option value="1">Plan básico - $40.000,00 mensual</option>
                        <option value="2">Plan estándar - $60.000,00 mensual</option>
                        <option value="3">Plan premium - $80.000,00 mensual</option>
                        <option value="4">Plan familiar - $100.000,00 mensual</option>
                        <option value="5">Plan de repatriación internacional -
                            $150.000,00 mensual</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn waves-effect waves-light" [disabled]="!fGroup.valid" type="button" (click)="RealizarPago()">
                        Pagar y completar registro
                        <i class="pay material-icons right">person_add</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>