<body>
    <main class="bienvenida">
        <section class="welcome-section">
            <div class="image-container">
                <img src="https://i.imgur.com/DKNBqZl.jpeg" alt="Paloma Blanca">
            </div>
            <div class="text-container">
                <h1>Bienvenido a FunerariaDigital</h1>
                <p>En tiempos difíciles, buscamos brindarte apoyo y comodidad en cada paso del camino. En
                    FunerariaDigital, entendemos la importancia de honrar y recordar a tus seres queridos de una manera
                    significativa y personalizada. Nuestra plataforma digital ofrece una solución sensible y compasiva
                    para la planificación y organización de servicios funerarios, permitiéndote concentrarte en lo que
                    realmente importa: rendir homenaje a la vida de aquellos que amas.</p>
                <h2>Visión</h2>
                <p>Nos esforzamos por ser líderes en la transformación digital del sector funerario, proporcionando
                    soluciones innovadoras que permitan a las familias despedirse de sus seres queridos de una manera
                    respetuosa y conmovedora, sin importar las distancias físicas.</p>
                <h2>Misión</h2>
                <p>Nuestra misión es ofrecer un espacio digital seguro y compasivo donde las familias puedan acceder
                    fácilmente a servicios funerarios personalizados y de alta calidad. Nos comprometemos a brindar
                    apoyo emocional y orientación práctica durante momentos de pérdida, asegurando que cada celebración
                    de vida sea única y significativa.</p>
            </div>
        </section>
    </main>

    <main>
        <section class="plans-section">
            <h1>PLANES</h1>
            <p>En FunerariaDigital, comprendemos que cada familia tiene necesidades únicas durante tiempos difíciles.
                Por eso, ofrecemos una variedad de planes funerarios personalizados para adaptarnos a tus requerimientos
                y presupuesto. Desde servicios básicos hasta opciones más completas, nuestros planes están diseñados
                para brindarte tranquilidad y comodidad en momentos de duelo.</p>

            <div class="row">
                <div *ngFor="let r of listaPlanes" class="col s4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{r.foto}}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{r.nombre}}</span>
                            <p class="plan-precio">$ {{r.precio | number:'1.0-0'}}</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{r.nombre}}</span>
                            <p>{{r.detalles}}</p>
                            <p>Este plan cuenta con una cantidad máxima de <strong>{{r.cantidadBeneficiarios}} beneficiarios</strong>.</p>
                        </div>
                    </div>

                </div>

            </div>


            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn waves-effect waves-light" type="button">
                        Ver más planes<i class="material-icons right">playlist_add</i>
                    </button>
                </div>
            </div>
        </section>
    </main>
</body>