#login-page {
  max-width: 500px;
  max-height: 700px;
}
.titulo-inicio-sesion {
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}

.container-login {
  margin-top: 11px;
  border: 1px solid #ccc;
  padding: 5%;
  margin-bottom: 30px;
}

.router-text {
  color: #409E81;
}

.container-login button {
  background-color: #409E81;
  font-weight: bold;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.show-errors {
  color: #409E81;
}

.input-field .prefix {
  padding-top: 5px;
  padding-left: 5px;
  font-size: 1.8rem;
}

.recaptcha {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

