body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-footer {
    margin-top: auto;
    background-color: #66B9A0;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    bottom: 0;
    width: 100%;
}
