<fieldset class="center container">
    <legend>Edición de Beneficiarios</legend>
    <div class="row">
        <form [formGroup]="fGroup">
            <div class="row">
                <div class="row">
                    <div class="input-field col s6">
                        <input formControlName="nombres" class="validate" id="nombres" type="text">
                        <label for="nombres" data-error="wrong" data-success="right">Nombres</label>
                        <div class="show-errors" *ngIf="obtenerFgDatos['nombres'].errors 
                && (obtenerFgDatos['nombres'].dirty || obtenerFgDatos['nombres'].touched)">
                            <strong>Este campo es obligatorio</strong>
                        </div>
                    </div>
                    <div class="input-field col s6">
                        <input formControlName="apellidos" id="apellidos" type="text">
                        <label for="apellidos">Apellidos</label>
                        <div class="show-errors" *ngIf="obtenerFgDatos['apellidos'].errors 
                && (obtenerFgDatos['apellidos'].dirty || obtenerFgDatos['apellidos'].touched)">
                            <strong>Este campo es obligatorio</strong>
                        </div>
                    </div>
                    <div class="input-field col s6">
                        <input formControlName="numeroDocumento" id="numeroDocumento" type="text">
                        <label for="numeroDocumento">Documento</label>
                        <div class="show-errors" *ngIf="obtenerFgDatos['numeroDocumento'].errors 
                && (obtenerFgDatos['numeroDocumento'].dirty || obtenerFgDatos['numeroDocumento'].touched)">
                            <strong>Este campo es obligatorio</strong>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <a routerLink="/parametros/rol-listar" class="btn red">Cancelar</a>&nbsp;
                        <button (click)="EditarRegistro()" class="btn waves-effect waves-light">Confirmar y
                            editar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>